catchorg/Catch2@v2.4.2
foonathan/type_safe@v0.2 --cmake header
fr00b0/nod@v0.5.0 --cmake header
pqrs-org/cpp-dispatcher@v2.1.0 --cmake header
pqrs-org/cpp-osx-cf_ptr@v1.2.0 --cmake header
pqrs-org/cpp-osx-cf_run_loop_thread@v1.2.0 --cmake header
pqrs-org/cpp-osx-iokit-ioobject_ptr@v1.3.0 --cmake header
pqrs-org/cpp-osx-iokit-ioservice_monitor@v1.3.0 --cmake header
pqrs-org/cpp-osx-iokit-types@v1.2.0 --cmake header
pqrs-org/cpp-thread_wait@v1.2.0 --cmake header
